/* Your styles goes here. */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90%;
  margin: 8em 12em;
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    max-height: 20em;
    overflow-y: auto;

    &::-webkit-scrollbar {
      background: transparent;
    }
  }
}