/* Your styles goes here. */
.app-container {
	display: flex;
	flex-direction: column;
	h1 {
		align-self: center;
	}
	height: 100vh;
	width: 100vw;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;

    .bona-nova-regular {
        font-family: "Bona Nova", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .bona-nova-bold {
        font-family: "Bona Nova", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .bona-nova-regular-italic {
        font-family: "Bona Nova", serif;
        font-weight: 400;
        font-style: italic;
      }
      
}
