/* You can add global styles to this file, and also import other style files */

body {
  --background: #000000;
  --section-background: #0e0e0e;

  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background);
  direction: rtl;
  color: white;
}